<mat-card class="player-card">
  <mat-card-header>
    <mat-card-title>{{first_name}} {{last_name}}</mat-card-title>
    <mat-card-subtitle><b>{{position}}</b> position</mat-card-subtitle>
    <mat-card-subtitle> <b>{{weight_pounds}}</b> lbs</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="team.name != ''">
    <button mat-button (click)="getTeam(team)">Team</button>
    <button mat-button (click)="setFavoritePlayer()">Favorite Player</button>
  </mat-card-actions>
</mat-card>