<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <nav>
      <ul>
        <li><a routerLink="/task/table" routerLinkActive="active">table component</a></li>
        <li><a routerLink="/nba/teams" routerLinkActive="active">nba teams</a></li>
        <li><a routerLink="/nba/players" routerLinkActive="active">nba players</a></li>
        <li><a routerLink="/periodic" routerLinkActive="active">periodic</a></li>
        <li><a routerLink="/task/qa" routerLinkActive="active">Q & A</a></li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <div class="image"><img src="https://app-cdn.clickup.com/assets/images/brand/clickup-symbol_color.svg" alt="logo"></div>
    </header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>