nav{
    ul{
        padding-left: 0px;
        margin-top: 60px;
        li{
            a{
                padding: 1em;
                text-decoration: none;
                color: black;
                text-align: center;
                display: block;
            }
            .active{
                color: rgb(141, 141, 236);
            }
        }
    }
}