<main>
    <section>
        <div *ngIf="players$ | async as players; else notFound">
            <player-card *ngFor="let player of players" 
                id="{{player.id}}" 
                first_name="{{player.first_name}}"
                last_name="{{player.last_name}}" 
                height_feet="{{player.height_feet}}" 
                position="{{player.position}}"
                [team]="player.team" 
                weight_pounds="{{player.weight_pounds}}" 
                [player]="player"
                (playerTeam)="getTeam($event)"
                (favoritePlayer)="favoritePlayer($event)"
            ></player-card>
        </div>
        <ng-template #notFound>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>No data</mat-card-title>
                </mat-card-header>
            </mat-card>
        </ng-template>
    </section>

    <aside>
        <mat-card *ngIf="playersTeam; else notSelected" class="player-card">
            <mat-card-header>
                <mat-card-title>{{playersTeam.player_name}}</mat-card-title>
                <mat-card-title><b>{{playersTeam.name}}</b> {{playersTeam.abbreviation | uppercase}}</mat-card-title>
                <mat-card-subtitle><b>{{playersTeam.conference}}</b> conference</mat-card-subtitle>
                <mat-card-subtitle> <b>{{playersTeam.division}}</b> division</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <ng-template #notSelected>
            <mat-card class="player-card">
                <mat-card-header>
                    <mat-card-title>Select a player's team</mat-card-title>
                </mat-card-header>
            </mat-card>
        </ng-template>
    </aside>
</main>